<div class="container">
    <div class="row">
        <div class="col text-center">
            <img class="h-25 rounded-circle" src="img/arimini.jpeg" alt="img-thumbnail">
            <h1 class="display-4">Ari Syafri</h1>
            <p class="lead">Teacher | Programmer</p>
        </div>
    </div>
</div>